﻿
@{
    ViewBag.Title = "Supplier List";
    ViewBag.ModuleName = "Suppliers";
}

@section scripts
{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/javascript">
    var Apx;
    $(function () {
        Apx = {
            grid: null,
            init: function () {
                this.initGrid();
                $('#actionCreate').on('click', Apx.loadActionCreate);
            },
            initGrid: function () {
                var elm = $('#gridview');
                this.grid = elm.gridView({
                    url: "@Url.Action("Paging", "Suppliers")",
            columns: [
                {
                    header: '', data: 'SupplierID', render: function (data) {
                        return '<a href="#" onclick="showModal(\'' + data +'\')"><span class="fa fa-search"></span></a>\
                                <a href="#" style="color: green; margin-left: 6px;"><span class="fa fa-edit"></span></a>\
                                <a href= "#" style= "color: red; margin-left: 6px;" ><span class="fa fa-trash"></span></a > ';
                    }
                },
                { header: 'Supplier ID', data: 'SupplierID', sortable: true },
                { header: 'Company Name', data: 'CompanyName', sortable: true },
                { header: 'Contact Name', data: 'ContactName', sortable: true },
                { header: 'Contact Title', data: 'ContactTitle', sortable: true },
                { header: 'Address', data: 'Address', sortable: true },
                { header: 'City', data: 'City', sortable: true },
                { header: 'Region', data: 'Region', sortable: true },
                { header: 'Postal Code', data: 'PostalCode', sortable: true },
                { header: 'Country', data: 'Country', sortable: true },
                { header: 'Phone', data: 'Phone', sortable: true },
                { header: 'Fax', data: 'Fax', sortable: true },
                { header: 'Home Page', data: 'HomePage', sortable: true },
            ],
            defaultSortExpression: 'SupplierID'
                })
            },
            gridAction: function (data) {

            },
            loadActionCreate : function (event) {
                event.preventDefault();
                var url = $(this).attr('href');
                $.post(url, function (data) {
                    $('#data-detail').html(data);
                    $('#modal-container').modal();
                })
            },
            AjaxOnSuccess: function (data) {
                if (data !== 'ok') {
                    $('#data-detail').html(data);
                    return;
                }
                $('#modal-container').modal('hide');
                $('#data-detail').html("");
                Apx.grid.reload();
            },
            loadActionCreate2: function (event) {
                event.preventDefault();
                var url = $(this).attr('href');
                $.post(url, function (data) {
                    $('#data-detail2').html(data);
                    $('#modal-container2').modal();
                    $('#modalHeader').html("Editasdasdasadadasdas");
                })
            }
        };
        Apx.init();
    });

    function showModal(data) {
        alert('You click '+data);
    }

    function Delete(data) {
        alert('You click '+data);
    }

    function refresh() {
        gridview.reload();
        }

    function lol() {
            alert("wkwk");
    }
    </script>


}


<div class="col-md-12">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Dashboard </h3>
            <div class="btn-group pull-right btn-sm">
                <button type="button" id="actionCreate" class="btn btn-primary" href="@Url.Action("Create","Suppliers")">
                    <i class="glyphicon glyphicon-plus-sign"></i> Add New Suppliers
                </button>
            </div>
        </div>
        <div class="box-body">
            <div id="gridview" style="">
            </div>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-primary" onclick="refresh()"><span class="fa fa-refresh"></span> Refresh</button>
        </div>
    </div>
</div>

<div id="modal-container" class="modal fade" data-backdrop="static">
    <div id="data-detail">

    </div>
</div>

