﻿
@{
    ViewBag.Title = "Categories List";
    ViewBag.ModuleName = "Categories";
}

<div class="col-md-12">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Dashboard </h3>
        </div>
        <div class="box-body">
            <div id="gridview" style="">
            </div>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-primary" onclick="refresh()"><span class="fa fa-refresh"></span> Refresh</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    var gridview;
    $(function () {
        gridview = $('#gridview').gridView({
            url: "@Url.Action("Paging", "Categories")",
            columns: [
                {
                    header: '', data: 'CategoryID', render: function (data) {
                        return '<a href="#" onclick="showModal(\'' + data +'\')"><span class="fa fa-search"></span></a>\
                                <a href="#" style="color: green; margin-left: 6px;"><span class="fa fa-edit"></span></a>\
                                <a href= "#" style= "color: red; margin-left: 6px;" ><span class="fa fa-trash"></span></a > ';
                    }
                },
                { header: 'Category ID', data: 'CategoryID', sortable: true },
                { header: 'Category Name', data: 'CategoryName', sortable: true },
                { header: 'Description', data: 'Description', sortable: true },
                {
                    header: 'Picture', data: 'StrImage', render: function (data) {
                        var str = "data:image/jpg;base64,"+data;
                        return '<img src="'+str+'" alt="" style="width: 60px"/>';
                    }
                }
            ],
            defaultSortExpression: 'CategoryID'
        });
    });

    function showModal(data) {
        alert('You click '+data);
    }

    function refresh() {
        gridview.reload();
    }
</script>


