﻿
@{
    ViewBag.Title = "Products List";
    ViewBag.ModuleName = "Products";
}

<div class="col-md-12">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Dashboard </h3>
        </div>
        <div class="box-body">
            <div id="gridview" style="">
            </div>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-primary" onclick="refresh()"><span class="fa fa-refresh"></span> Refresh</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    var gridview;
    $(function () {
        gridview = $('#gridview').gridView({
            url: "@Url.Action("Paging", "Products")",
            columns: [
                {
                    header: '', data: 'ProductID', render: function (data) {
                        return '<a href="#" onclick="showModal(\'' + data +'\')"><span class="fa fa-search"></span></a>\
                                <a href="#" style="color: green; margin-left: 6px;"><span class="fa fa-edit"></span></a>\
                                <a href= "#" style= "color: red; margin-left: 6px;" ><span class="fa fa-trash"></span></a > ';
                    }
                },
                { header: 'Product ID', data: 'ProductID', sortable: true },
                { header: 'Product Namee', data: 'ProductName', sortable: true },
                { header: 'Supplier ID', data: 'SupplierID', sortable: true },
                { header: 'Category ID', data: 'CategoryID', sortable: true },
                { header: 'Quantity PerUnity', data: 'QuantityPerUnit', sortable: true },
                { header: 'Unit Price', data: 'UnitPrice', sortable: true },
                { header: 'Units In Stocke', data: 'UnitsInStock', sortable: true },
                { header: 'Units On Order', data: 'UnitsOnOrder', sortable: true },
                { header: 'Reorder Level', data: 'ReorderLevel', sortable: true },
                { header: 'Discontinued', data: 'Discontinued', sortable: true }
            ],
            defaultSortExpression: 'ProductID'
        });
    });

    function showModal(data) {
        alert('You click '+data);
    }

    function refresh() {
        gridview.reload();
    }
</script>


